* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, .mobile-body {
    height: 100vh;
    background-image: url('Anmeldung.png');
    background-size: cover;
    background-position: center;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-container {
    padding: 30px;
    text-align: center;
    color: white;
    width: 300px;
    position: relative;
    margin-top: 265px;
}

.mobile-login-container {
    padding: 20px;
    text-align: center;
    color: white;
    width: 90%;
    max-width: 320px;
    margin: auto;
    margin-top: 100px;
}

.username-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 15px;
    border: 2px solid #6a9df1;
    border-radius: 10px;
    font-size: 16px;
    background-color: #6a9df1;
    color: white;
    box-shadow: 0 0 8px 2px rgba(0, 195, 255, 0.6);
}

.username-input::placeholder {
    color: white;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #00c3ff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #007aa6;
}
